body{
    background-color:lightgrey;
}
.a1{
    padding: 50px;
    width: 200px;
    height:130px;
    border: solid 1px;
    color:blue;
}
.a2{
    width: 750px;
    height: 330px;
    background-image: url(2020.png);
}